body {
	background-color: #f5f5dc;
}
body :not(label, h4){
	background-color: #f5f5dc;
}
input{
	margin:6px;

}
#car,  #plane, #train, #subway, #home, #totals {
	margin:6px;
	border: 2px solid green;
	margin-left: 0px;
	padding: 4px;
}
#block {
	text-transform: uppercase;

}